.container-route {
    position: fixed;
    margin-left:125px;
    margin-top: 75px;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    padding: 0 150px;
    
}

.sound-backgorund{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container-route p{
    padding-top: 10px;
    margin-left: 20px;
    color: #000;
    font-size: 16px;
}

.sound-item{
    position: relative;
    margin-top: 20px;
    width:calc(100% - 55px);
    margin-left: 40px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 25px;
    padding-bottom: auto;
    font-size: 14px;
}

.padding{
    padding-bottom: 250px;
}


.sound-name{
    margin-left: 40px;
}

.sound-Edit{
    position: absolute;
    right:200px ;
}

.sound-Delete{
    position: absolute;
    right:130px ;
}

.sound{
    margin-left: 70px;
}
.sound-item .sound-Head{
    margin-bottom: -15px;
}

hr{
    position: relative;
    
}

input{
    width:calc(100% - 5px);
}

.btn-add {
    
    border: 1px solid rgba(131, 131, 131, 0.6);
    background-color: #2e86c1;
    border-radius: 5px;
    
    color: white;
    font-size: 13px;
    height: 30px;
    padding-left:15px;
    padding-right:15px; width:auto;
    z-index: 5;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



.edit-btn {
    border: none;
    background-color: #F3BA26;
    border-radius: 7px;
    color: white;
    font-size: 11px;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.delete-btn {
    border: none;
    background-color: #F37026;
    border-radius: 7px;
    color: white;
    font-size: 11px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.btn-add:hover {
    background-color: #3c9ddd;
}

.Status .bi-chevron-left {
    position: relative;
    height: auto;
    border: none;
    padding: auto;
    width: 3 5px;
    font-size: 16px;
    border-radius: 15px;
    background-color: rgba(219, 219, 219, 0.8);
    color: rgb(78, 75, 75);
}

.Status .bi-chevron-left:hover {
    background-color: rgba(100, 100, 100, 0.8);
    color: rgb(255, 255, 255);
}

.arrow-left,
.long-arrow-left{
 transform: rotate(-45deg);
}

.long-arrow-right,
.long-arrow-left{
  display: block;
  margin: 30px auto;
  width: 10px;
  height: 10px;
  border-top: 2px solid rgb(78, 75, 75);
  border-left: 2px solid rgb(78, 75, 75);
  cursor: pointer;
}   

.Link-Spect{
    margin-left: 40px;
}

.Report{
    padding: 20px;
}

.report-Edit{
    position: absolute;
    right:100px ;
}

.report-name{
    margin-left: 80px;
}

.report-Head{
    margin-bottom: -15px;
}

@media only screen and (max-width: 925px) {
    .container-route {
        width: 905px;
    }
    .sound-item{
        position: relative;
        width:550px;
    }
}